<p>Planning de la semaine!</p>

<!--affichage liste matieres
    <table>
        <tr *ngFor="let c of cours">
            <td>{{c.heureDebut}}</td>
            <td>{{ c.heureFin}}</td>
            <td>{{c.professeur.nom}}</td>
            <td>{{ c.matiere.nom }}</td>
            <td>{{ c.salle.nom}}</td>
        </tr>
    </table>
-->
    <div class="container">
      <div class="timetable-img text-center">
          <img src="img/content/timetable.png" alt="">
      </div>
      <div class="table-responsive ">
          <table class="table table-bordered text-center ">
              <thead>
                  <tr class="bg-violet">
                      <!-- texte adapté -->
                      <th class="text-uppercase" style="background-color:white">
                      </th>
                      <th class="text-uppercase">Lundi</th>
                      <th class="text-uppercase">Mardi</th>
                      <th class="text-uppercase">Mercredi</th>
                      <th class="text-uppercase">Jeudi</th>
                      <th class="text-uppercase">Vendredi</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <!--format de l'heure adapté-->
                        <td class="align-middle bg-violet">
                          <tr style="font-weight: bold;">08:00 </tr>
                          <tr style="font-size: small;">08:30</tr>
                        </td>
                        <td>{{matrix[0][0].matiere.nom}}</td>
                        <td>{{matrix[0][1].matiere.nom}}</td>
                        <td>{{matrix[0][2].matiere.nom}}</td>
                        <td>{{matrix[0][3].matiere.nom}}</td>
                        <td>{{matrix[0][4].matiere.nom}}</td>
                  </tr>
                  <tr>
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">09:00 </tr>
                        <tr style="font-size: small;">09:30</tr>
                        </td>
                        <td>{{matrix[1][0].matiere.nom}}</td>
                        <td>{{matrix[1][1].matiere.nom}}</td>
                        <td>{{matrix[1][2].matiere.nom}}</td>
                        <td>{{matrix[1][3].matiere.nom}}</td>
                        <td>{{matrix[1][4].matiere.nom}}</td>
                  </tr>

                  <tr>
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">10:00 </tr>
                        <tr style="font-size: small;">10:30</tr>
                    </td>
                    <td>{{matrix[2][0].matiere.nom}}</td>
                        <td>{{matrix[2][1].matiere.nom}}</td>
                        <td>{{matrix[2][2].matiere.nom}}</td>
                        <td>{{matrix[2][3].matiere.nom}}</td>
                        <td>{{matrix[2][4].matiere.nom}}</td>
                  </tr>

                  <tr>
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">11:00 </tr>
                        <tr style="font-size: small;">11:30</tr>
                    </td>
                    <td>{{matrix[3][0].matiere.nom}}</td>
                        <td>{{matrix[3][1].matiere.nom}}</td>
                        <td>{{matrix[3][2].matiere.nom}}</td>
                        <td>{{matrix[3][3].matiere.nom}}</td>
                        <td>{{matrix[3][4].matiere.nom}}</td>
                  </tr>

                  <tr>
                    <td class="align-middle bg-violet">

                        <tr style="font-weight: bold;">12:00 </tr>
                        <tr style="font-size: small;">12:30</tr>
                        </td>
                        <td>{{matrix[4][0].matiere.nom}}</td>
                        <td>{{matrix[4][1].matiere.nom}}</td>
                        <td>{{matrix[4][2].matiere.nom}}</td>
                        <td>{{matrix[4][3].matiere.nom}}</td>
                        <td>{{matrix[4][4].matiere.nom}}</td>
                  </tr>

                  <tr>
                    <!--format de l'heure adapté-->
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">13:00 </tr>
                        <tr style="font-size: small;">13:30</tr>
                    </td>
                    <td>{{matrix[5][0].matiere.nom}}</td>
                    <td>{{matrix[5][1].matiere.nom}}</td>
                    <td>{{matrix[5][2].matiere.nom}}</td>
                        <td>{{matrix[5][3].matiere.nom}}</td>
                        <td>{{matrix[5][4].matiere.nom}}</td>
                </tr>

                <tr>
                  <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">14:00 </tr>
                        <tr style="font-size: small;">14:30</tr>
                    </td>
                    <td>{{matrix[6][0].matiere.nom}}</td>
                        <td>{{matrix[6][1].matiere.nom}}</td>
                        <td>{{matrix[6][2].matiere.nom}}</td>
                        <td>{{matrix[6][3].matiere.nom}}</td>
                        <td>{{matrix[6][4].matiere.nom}}</td>
                </tr>

                <tr>
                  <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">15:00 </tr>
                        <tr style="font-size: small;">15:30</tr>
                    </td>
                    <td>{{matrix[7][0].matiere.nom}}</td>
                        <td>{{matrix[7][1].matiere.nom}}</td>
                        <td>{{matrix[7][2].matiere.nom}}</td>
                        <td>{{matrix[7][3].matiere.nom}}</td>
                        <td>{{matrix[7][4].matiere.nom}}</td>
                </tr>

                <tr>
                  <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">16:00 </tr>
                        <tr style="font-size: small;">16:30</tr>
                    </td>
                    <td>{{matrix[8][0].matiere.nom}}</td>
                        <td>{{matrix[8][1].matiere.nom}}</td>
                        <td>{{matrix[8][2].matiere.nom}}</td>
                        <td>{{matrix[8][3].matiere.nom}}</td>
                        <td>{{matrix[8][4].matiere.nom}}</td>
                </tr>

                <tr>
                  <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">17:00 </tr>
                        <tr style="font-size: small;">17:30</tr>
                    </td>
                    <td>{{matrix[9][0].matiere.nom}}</td>
                        <td>{{matrix[9][1].matiere.nom}}</td>
                        <td>{{matrix[9][2].matiere.nom}}</td>
                        <td>{{matrix[9][3].matiere.nom}}</td>
                        <td>{{matrix[9][4].matiere.nom}}</td>
                </tr>
                <tr>
                  <td class="align-middle bg-violet">
                    <tr style="font-weight: bold;">18:00 </tr>
                    <tr style="font-size: small;">18:30</tr>
                </td>
                <td>{{matrix[10][0].matiere.nom}}</td>
                        <td>{{matrix[10][1].matiere.nom}}</td>
                        <td>{{matrix[10][2].matiere.nom}}</td>
                        <td>{{matrix[10][3].matiere.nom}}</td>
                        <td>{{matrix[10][4].matiere.nom}}</td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
