<div>

<p>Planning de la semaine!</p>

<!--affichage liste matieres
    <table>
        <tr *ngFor="let c of cours">
            <td>{{c.heureDebut}}</td>
            <td>{{ c.heureFin}}</td>
            <td>{{c.professeur.nom}}</td>
            <td>{{ c.matiere.nom }}</td>
            <td>{{ c.salle.nom}}</td>
        </tr>
    </table>
-->
    <div class="container">
      <div class="timetable-img text-center">
          <img src="img/content/timetable.png" alt="">
      </div>
      <div class="table-responsive " >
          <table class="table table-bordered text-center " id="pdfTable" >
              <thead>
                  <tr class="bg-violet">
                      <!-- texte adapté -->
                      <th class="text-uppercase" style="background-color:white">
                      </th>
                      <th class="text-uppercase">Lundi</th>
                      <th class="text-uppercase">Mardi</th>
                      <th class="text-uppercase">Mercredi</th>
                      <th class="text-uppercase">Jeudi</th>
                      <th class="text-uppercase">Vendredi</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <!--format de l'heure adapté-->
                        <td class="align-middle bg-violet">
                          <tr style="font-weight: bold;">08:00 </tr>
                          <tr style="font-size: small;">09:00</tr>
                        </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[0][0].matiere.couleur}};">{{matrix[0][0].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[0][0].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[0][0].professeur.nom}} {{matrix[0][0].professeur.prenom}}</div>
                        </td>
                        <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[0][1].matiere.couleur}};">{{matrix[0][1].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[0][1].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[0][1].professeur.nom}} {{matrix[0][1].professeur.prenom}}</div>
                          </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[0][2].matiere.couleur}};">{{matrix[0][2].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[0][2].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[0][2].professeur.nom}} {{matrix[0][2].professeur.prenom}}</div>
                        </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[0][3].matiere.couleur}};">{{matrix[0][3].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[0][3].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[0][3].professeur.nom}} {{matrix[0][3].professeur.prenom}}</div>
                          </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[0][4].matiere.couleur}};">{{matrix[0][4].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[0][4].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[0][4].professeur.nom}} {{matrix[0][4].professeur.prenom}}</div>

                        </td>
                      </tr>
                      <tr>
                        <td class="align-middle bg-violet">
                            <tr style="font-weight: bold;">09:00 </tr>
                            <tr style="font-size: small;">10:00</tr>
                            </td>
                            <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[1][0].matiere.couleur}};">{{matrix[1][0].matiere.nom}}</span>
                              <div class="font-size13 text-gray">{{matrix[1][0].salle.nom}}</div>
                              <div class="font-size13 text-gray">{{matrix[1][0].professeur.nom}} {{matrix[1][0].professeur.prenom}}</div>

                            </td>
                            <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[1][1].matiere.couleur}};">{{matrix[1][1].matiere.nom}}</span>
                              <div class="font-size13 text-gray">{{matrix[1][1].salle.nom}}</div>
                              <div class="font-size13 text-gray">{{matrix[1][1].professeur.nom}} {{matrix[1][1].professeur.prenom}}</div>
                              </td>
                            <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[1][2].matiere.couleur}};">{{matrix[1][2].matiere.nom}}</span>
                              <div class="font-size13 text-gray">{{matrix[1][2].salle.nom}}</div>
                              <div class="font-size13 text-gray">{{matrix[1][2].professeur.nom}} {{matrix[1][2].professeur.prenom}}</div>

                            </td>
                            <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[1][3].matiere.couleur}};">{{matrix[1][3].matiere.nom}}</span>
                              <div class="font-size13 text-gray">{{matrix[1][3].salle.nom}}</div>
                              <div class="font-size13 text-gray">{{matrix[1][3].professeur.nom}} {{matrix[1][3].professeur.prenom}}</div>

                            </td>
                            <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[1][4].matiere.couleur}};">{{matrix[1][4].matiere.nom}}</span>
                              <div class="font-size13 text-gray">{{matrix[1][4].salle.nom}}</div>
                              <div class="font-size13 text-gray">{{matrix[1][4].professeur.nom}} {{matrix[1][4].professeur.prenom}}</div>

                            </td>
                      </tr>

                  <tr>
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">10:00 </tr>
                        <tr style="font-size: small;">11:00</tr>
                    </td>
                    <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[2][0].matiere.couleur}};">{{matrix[2][0].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[2][0].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[2][0].professeur.nom}} {{matrix[2][0].professeur.prenom}}</div>
                      </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[2][1].matiere.couleur}};">{{matrix[2][1].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[2][1].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[2][1].professeur.nom}} {{matrix[2][1].professeur.prenom}}</div>
                        </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[2][2].matiere.couleur}};">{{matrix[2][2].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[2][2].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[2][2].professeur.nom}} {{matrix[2][2].professeur.prenom}}</div>

                      </td>
                          <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[2][3].matiere.couleur}};">{{matrix[2][3].matiere.nom}}</span>
                            <div class="font-size13 text-gray">{{matrix[2][3].salle.nom}}</div>
                            <div class="font-size13 text-gray">{{matrix[2][3].professeur.nom}} {{matrix[2][3].professeur.prenom}}</div>
                        </td>
                        <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[2][4].matiere.couleur}};">{{matrix[2][4].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[2][4].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[2][4].professeur.nom}} {{matrix[2][4].professeur.prenom}}</div>
                        </td>
                  </tr>

                  <tr>
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">11:00 </tr>
                        <tr style="font-size: small;">12:00</tr>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[3][0].matiere.couleur}};">{{matrix[3][0].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[3][0].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[3][0].professeur.nom}} {{matrix[3][0].professeur.prenom}}</div>
                    </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[3][1].matiere.couleur}};">{{matrix[3][1].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[3][1].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[3][1].professeur.nom}} {{matrix[3][1].professeur.prenom}}</div>
                        </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[3][2].matiere.couleur}};">{{matrix[3][2].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[3][2].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[3][2].professeur.nom}} {{matrix[3][2].professeur.prenom}}</div>
                        </td>
                        <td>
                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[3][3].matiere.couleur}};">{{matrix[3][3].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[3][3].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[3][3].professeur.nom}} {{matrix[3][3].professeur.prenom}}</div>
                        </td>
                        <td>

                          <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[3][4].matiere.couleur}};">{{matrix[4][0].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[3][4].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[3][4].professeur.nom}} {{matrix[3][4].professeur.prenom}}</div>
                        </td>
                  </tr>

                  <tr>
                    <td class="align-middle bg-violet">

                        <tr style="font-weight: bold;">12:00 </tr>
                        <tr style="font-size: small;">13:00</tr>
                    </td>
                        <td class="pause"></td>
                        <td class="pause"></td>
                        <td class="pause"></td>
                        <td class="pause"></td>
                        <td class="pause"></td>
                  </tr>

                  <tr>
                    <!--format de l'heure adapté-->
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">13:00 </tr>
                        <tr style="font-size: small;">14:00</tr>
                    </td>
                    <td class="pause"></td>
                    <td class="pause"></td>
                    <td class="pause"></td>
                    <td class="pause"></td>
                    <td class="pause"></td>
                </tr>

                <tr>
                  <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">14:00 </tr>
                        <tr style="font-size: small;">15:00</tr>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[6][0].matiere.couleur}};"> {{matrix[6][0].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[6][0].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[6][0].professeur.nom}} {{matrix[6][0].professeur.prenom}}</div>
                    </td>
                    <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[6][1].matiere.couleur}};"> {{matrix[6][1].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[6][1].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[6][1].professeur.nom}} {{matrix[6][1].professeur.prenom}}</div>
                     </td>
                     <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[6][2].matiere.couleur}};"> {{matrix[6][2].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[6][2].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[6][2].professeur.nom}} {{matrix[6][2].professeur.prenom}}</div>
                     </td>
                    <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[6][3].matiere.couleur}};"> {{matrix[6][3].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[6][3].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[6][3].professeur.nom}} {{matrix[6][3].professeur.prenom}}</div>
                    </td>
                    <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[6][4].matiere.couleur}};"> {{matrix[6][4].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[6][4].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[6][4].professeur.nom}} {{matrix[6][4].professeur.prenom}}</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">15:00 </tr>
                        <tr style="font-size: small;">16:00</tr>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[7][0].matiere.couleur}};"> {{matrix[7][0].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[7][0].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[7][0].professeur.nom}} {{matrix[7][0].professeur.prenom}}</div>
                     </td>
                    <td>
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[7][1].matiere.couleur}};">{{matrix[7][1].matiere.nom}}</span>
                            <div class="font-size13 text-gray">{{matrix[7][1].salle.nom}}</div>
                            <div class="font-size13 text-gray">{{matrix[7][1].professeur.nom}} {{matrix[7][1].professeur.prenom}}</div>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[7][2].matiere.couleur}};"> {{matrix[7][2].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[7][2].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[7][2].professeur.nom}} {{matrix[7][2].professeur.prenom}}</div>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[7][3].matiere.couleur}};"> {{matrix[7][3].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[7][3].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[7][3].professeur.nom}} {{matrix[7][3].professeur.prenom}}</div>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[7][4].matiere.couleur}};"> {{matrix[7][4].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[7][4].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[7][4].professeur.nom}} {{matrix[7][4].professeur.prenom}}</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">16:00 </tr>
                        <tr style="font-size: small;">17:00</tr>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[8][0].matiere.couleur}};"> {{matrix[8][0].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[8][0].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[8][0].professeur.nom}} {{matrix[8][0].professeur.prenom}}</div>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[8][1].matiere.couleur}};"> {{matrix[8][1].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[8][1].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[8][1].professeur.nom}} {{matrix[8][1].professeur.prenom}}</div>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[8][2].matiere.couleur}};"> {{matrix[8][2].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[8][2].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[8][2].professeur.nom}} {{matrix[8][2].professeur.prenom}}</div>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[8][3].matiere.couleur}};"> {{matrix[8][3].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[8][3].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[8][3].professeur.nom}} {{matrix[8][3].professeur.prenom}}</div>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[8][4].matiere.couleur}};"> {{matrix[8][4].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[8][4].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[8][4].professeur.nom}} {{matrix[8][4].professeur.prenom}}</div>
                     </td>
                </tr>

                <tr>
                  <td class="align-middle bg-violet">
                        <tr style="font-weight: bold;">17:00 </tr>
                        <tr style="font-size: small;">18:00</tr>
                    </td>
                    <td>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[9][0].matiere.couleur}};"> {{matrix[9][0].matiere.nom}}</span>
                        <div class="font-size13 text-gray">{{matrix[9][0].salle.nom}}</div>
                        <div class="font-size13 text-gray">{{matrix[9][0].professeur.nom}} {{matrix[9][0].professeur.prenom}}</div>
                    </td>
                        <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[9][1].matiere.couleur}};"> {{matrix[9][1].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[9][1].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[9][1].professeur.nom}} {{matrix[9][1].professeur.prenom}}</div>
                    </td>
                        <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[9][2].matiere.couleur}};"> {{matrix[9][2].matiere.nom}}</span>
                          <div class="font-size13 text-gray">{{matrix[9][2].salle.nom}}</div>
                          <div class="font-size13 text-gray">{{matrix[9][2].professeur.nom}} {{matrix[9][2].professeur.prenom}}</div>
                    </td>
                    <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[9][3].matiere.couleur}};"> {{matrix[9][3].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[9][3].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[9][3].professeur.nom}} {{matrix[9][3].professeur.prenom}}</div>
                    </td>
                    <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[9][4].matiere.couleur}};"> {{matrix[9][4].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[9][4].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[9][4].professeur.nom}} {{matrix[9][4].professeur.prenom}}</div>
                     </td>
                </tr>
                <tr>
                  <td class="align-middle bg-violet">
                    <tr style="font-weight: bold;">18:00 </tr>
                </td>
                <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[10][0].matiere.couleur}};"> {{matrix[10][0].matiere.nom}}</span>
                    <div class="font-size13 text-gray">{{matrix[10][0].salle.nom}}</div>
                    <div class="font-size13 text-gray">{{matrix[10][0].professeur.nom}} {{matrix[10][0].professeur.prenom}}</div>
                </td>
                    <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[10][1].matiere.couleur}};"> {{matrix[10][1].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[10][1].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[10][1].professeur.nom}} {{matrix[10][1].professeur.prenom}}</div>
                </td>
                    <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[10][2].matiere.couleur}};"> {{matrix[10][2].matiere.nom}}</span>
                      <div class="font-size13 text-gray">{{matrix[10][2].salle.nom}}</div>
                      <div class="font-size13 text-gray">{{matrix[10][2].professeur.nom}} {{matrix[10][2].professeur.prenom}}</div>
                </td>
                <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[10][3].matiere.couleur}};"> {{matrix[10][3].matiere.nom}}</span>
                  <div class="font-size13 text-gray">{{matrix[10][3].salle.nom}}</div>
                  <div class="font-size13 text-gray">{{matrix[10][3].professeur.nom}} {{matrix[10][3].professeur.prenom}}</div>
                </td>
                <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" style="background-color: {{matrix[10][4].matiere.couleur}};"> {{matrix[10][4].matiere.nom}}</span>
                  <div class="font-size13 text-gray">{{matrix[10][4].salle.nom}}</div>
                  <div class="font-size13 text-gray">{{matrix[10][4].professeur.nom}} {{matrix[10][4].professeur.prenom}}</div>
                 </td>
              </tr>
          </table>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Télécharger en PDF</button>
  </div>
  <div class="col-md-4"></div>
</div>
