<p>Planning de la semaine!</p>

<!--affichage liste matieres
    <table>
        <tr *ngFor="let c of cours">
            <td>{{c.heureDebut}}</td>
            <td>{{ c.heureFin}}</td>
            <td>{{c.professeur.nom}}</td>
            <td>{{ c.matiere.nom }}</td>
            <td>{{ c.salle.nom}}</td>
        </tr>
    </table>
-->
    <div class="container">
      <div class="timetable-img text-center">
          <img src="img/content/timetable.png" alt="">
      </div>
      <div class="table-responsive">
          <table class="table table-bordered text-center">
              <thead>
                  <tr class="bg-light-gray">
                      <!-- texte adapté -->
                      <th class="text-uppercase">
                      </th>
                      <th class="text-uppercase">Lundi</th>
                      <th class="text-uppercase">Mardi</th>
                      <th class="text-uppercase">Mercredi</th>
                      <th class="text-uppercase">Jeudi</th>
                      <th class="text-uppercase">Vendredi</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <!--format de l'heure adapté-->
                      <td class="align-middle">
                        <tr style="font-weight: bold;">08:00 </tr>
                        <tr style="font-size: small;">08:30</tr>
                        </td>
                  </tr>

                  <tr>
                      <td class="align-middle">
                        <tr style="font-weight: bold;">09:00 </tr>
                        <tr style="font-size: small;">09:30</tr>
                        </td>
                  </tr>

                  <tr>
                      <td class="align-middle">
                        <tr style="font-weight: bold;">10:00 </tr>
                        <tr style="font-size: small;">10:30</tr>
                    </td>
                  </tr>

                  <tr>
                      <td class="align-middle">
                        <tr style="font-weight: bold;">11:00 </tr>
                        <tr style="font-size: small;">11:30</tr>
                    </td>

                  </tr>

                  <tr>
                      <td class="align-middle">
                          
                        <tr style="font-weight: bold;">12:00 </tr>
                        <tr style="font-size: small;">12:30</tr>
                        </td>
                  </tr>

                  <tr>
                    <!--format de l'heure adapté-->
                    <td class="align-middle">
                        <tr style="font-weight: bold;">13:00 </tr>
                        <tr style="font-size: small;">13:30</tr>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">
                        <tr style="font-weight: bold;">14:00 </tr>
                        <tr style="font-size: small;">14:30</tr>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">
                        <tr style="font-weight: bold;">15:00 </tr>
                        <tr style="font-size: small;">15:30</tr>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">
                        <tr style="font-weight: bold;">16:00 </tr>
                        <tr style="font-size: small;">16:30</tr>
                    </td>

                </tr>

                <tr>
                    <td class="align-middle">
                        <tr style="font-weight: bold;">17:00 </tr>
                        <tr style="font-size: small;">17:30</tr>
                    </td>
                </tr>
                <tr>
                  <td class="align-middle">
                    <tr style="font-weight: bold;">18:00 </tr>
                    <tr style="font-size: small;">18:30</tr>
                </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
