

<ng-container>
    <td>{{ classe.id }}</td>
    <td>{{ classe.nom }}</td>
    <td *ngIf="classe.professeurPrincipal; else BlockElse">{{ classe.professeurPrincipal.nom }}</td>
    <ng-template #BlockElse><td>Pas de professeur principal</td></ng-template>
  
    <td>
      <button [routerLink]="['/classe', 'edit', classe.id]"
      routerLinkActive="active" class="btn btn-outline-warning">Modifier</button>
    </td>
    <td>
      <button class="btn btn-outline-danger" (click)="delete()">supprimer</button>
    </td>
  </ng-container>