<form (ngSubmit)="send()" [formGroup]="form">
    <div class="form-group">
      <input type="text" class="form-control" name="nom" [formControl]="nomCtrl"/>
      <div *ngIf="nomCtrl.dirty && nomCtrl.hasError('required')"  class="alert alert-danger">Le nom est obligatoire</div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="couleur" [formControl]="couleurCtrl"/>
        <div *ngIf="couleurCtrl.dirty && couleurCtrl.hasError('required')"  class="alert alert-danger">La couleur est obligatoire</div>
      </div>

  
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Enregistrer
        </button>
      </div>
      <button [routerLink]="['/listematieres']"
      routerLinkActive="active" class="btn btn-outline-warning">Abandonner</button>
</form>
