

<ng-container *ngIf="!edit; else formEdit">
    <td>{{ user.id }}</td>
    <td>{{ user.login.login }}</td>
    <td>{{ user.login.password }}</td>
    <td>{{ user.nom }}</td>
    <td>{{ user.prenom }}</td>
    <td>{{ user.adresse.numRue }}</td>
    <td>{{ user.adresse.nomRue }}</td>
    <td>{{ user.adresse.ville }}</td>
    <td>{{user.dateNaissance}}</td>
    <td>{{user.etablissement.nom}}</td>
    <td>
      <button (click)="changeMode()" class="btn btn-outline-primary">
        editer
      </button>
    </td>
    <td>
      <button class="btn btn-outline-danger" (click)="delete()">supprimer</button>
    </td>
  </ng-container>
  
  <ng-template #formEdit>
    <td>{{ user.id }}</td>
    <td><input [(ngModel)]="user.login.login"></td>
    <td><input [(ngModel)]="user.login.password"></td>
    <td><input [(ngModel)]="user.nom"></td>
    <td><input [(ngModel)]="user.prenom"></td>
    <td><input [(ngModel)]="user.adresse.numRue"></td>
    <td><input [(ngModel)]="user.adresse.nomRue"></td>
    <td><input [(ngModel)]="user.adresse.ville"></td>
    <td><input [(ngModel)]="user.dateNaissance"></td>
    <td><input [(ngModel)]="user.etablissement.nom"></td>
    <td>
      <button (click)="save()" class="btn btn-outline-success">
        enregistrer
      </button>
    </td>
    <td>
      <button (click)="cancel()" class="btn btn-outline-warning">annuler</button>
    </td>
  </ng-template>