

<ng-container>
    <td>{{ user.id }}</td>
    <td>{{ user.login.login }}</td>
    <td>{{ user.nom }}</td>
    <td>{{ user.prenom }}</td>
    <td>{{ user.adresse.numRue }} {{ user.adresse.nomRue }} {{ user.adresse.codePostal }} {{ user.adresse.ville }}</td>
    <td>{{user.dateNaissance}}</td>
    <td>{{user.etablissement.nom}}</td>
    <td>
      <button *ngIf="user.login.typeUtilisateur!='ADMIN'" [routerLink]="['/utilisateur', 'edit', user.id]"
      routerLinkActive="active" class="btn btn-outline-warning">Modifier</button>
    </td>
    <td>
      <button *ngIf="user.login.typeUtilisateur!='ADMIN'" class="btn btn-outline-danger" (click)="delete()">supprimer</button>
    </td>
  </ng-container>