<p>liste-professeurs works!</p>
<div>
    <a  [routerLink]="['/listeprofesseurs']" routerLinkActive="active" class="btn btn-outline-light">Liste des professeurs  </a>
    <a  [routerLink]="['/listeclasses']" routerLinkActive="active" class="btn btn-outline-light">Liste des classes  </a>
    <a  [routerLink]="['/listematieres']" routerLinkActive="active" class="btn btn-outline-light">Liste des matières  </a>
    <a  [routerLink]="['/listesalles']" routerLinkActive="active" class="btn btn-outline-light">Liste des salles  </a>
</div>



<h1>liste des Professeurs</h1>
<button class="btn btn-link" (click)="displayNew()">ajouter Professeur</button>
<table class="table">

<tr *ngIf="showNew" salles-row (insert)="insert()" (cancel)="cancel()"></tr>
  <tr>
    <th>id</th>
    <th>Login.login</th>
    <th>Login.password</th>
    <th>nom</th>    
    <th>prenom</th>
    <th>Adresse => numero de rue</th>
    <th>Adresse => nom de rue</th>
    <th>Adresse => ville</th>
    <th>dateNaissance</th>
    <th>etablissement.nom</th>
    <th></th>
  </tr>
  <tr
  professeur-row
    [user]="p"
    *ngFor="let p of professeurs"
    (delete)="delete($event)"
  ></tr>
</table>
