
<div>
  <a  [routerLink]="['/homeadmin']" routerLinkActive="active" class="btn btn-light">Home</a>
  <a  [routerLink]="['/listeprofesseurs']" routerLinkActive="active" class="btn btn-light">Liste des professeurs</a>
  <a  [routerLink]="['/listeutilisateurs']" routerLinkActive="active" class="btn btn-light">Liste des utilisateurs</a>
  <a  [routerLink]="['/listeclasses']" routerLinkActive="active" class="btn btn-light">Liste des classes  </a>
  <a  [routerLink]="['/listematieres']" routerLinkActive="active" class="btn btn-light">Liste des matières  </a>
  <a  [routerLink]="['/listesalles']" routerLinkActive="active" class="btn btn-light">Liste des salles  </a>
  <a  [routerLink]="['/listescours']" routerLinkActive="active" class="btn btn-outline-light">Liste des cours  </a>
</div>

<h1>liste des Cours</h1>
<button [routerLink]="['/cours/edit']"
routerLinkActive="active" class="btn btn-outline-primary">Ajouter un cours</button>

<table class="table">

<tr>
  <th>id</th>
  <th>heure de debut</th>
  <th>heure de fin</th>
  <th>jour</th>
  <th>Matiere</th>
  <th>Professeur</th>
  <th></th>
  <th></th>
</tr>
<tr
  cours-row
  [cours]="m"
  *ngFor="let m of cours"
  (delete)="delete($event)"
></tr>
</table>
